<% include partials/head.ejs %>

<div class="container pt-2 pb-2">
    <h2>All Labs</h2>

    <h4>Lab 0</h4>
    <p>Black-box testing.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut0') %>">Go</a>

    <hr/>
    <h4>Lab 1</h4>
    <p>Fixing and creating algorithms.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut1') %>">Go</a>

    <hr/>
    <h4>Lab 2</h4>
    <p>Test planning and black-box adversarial testing.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut2') %>">Go</a>

    <hr/>
    <h4>Lab 3</h4>
    <p>Code tracing and white-box adversarial testing.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut3') %>">Go</a>

    <hr/>
    <h4>Lab 4</h4>
    <p>Code tracing and bug fixing.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut4') %>">Go</a>

    <hr/>
    <h4>Lab 5</h4>
    <p>Scratch.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut5') %>">Go</a>

    <hr/>
    <h4>Lab 6</h4>
    <p>Scratch.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut6') %>">Go</a>

    <hr/>
    <h4>Lab 7</h4>
    <p>Converting from Scratch to Python.</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut7') %>">Go</a>

    <hr/>
    <h4>Lab 8</h4>
    <p>Python file I/O (CSV).</p>
    <a class="btn btn-primary" href="<%= absRoute('/tut8') %>">Go</a>

</div>

<% include partials/foot.ejs %>
